@model List<CallCenterEmulation.Models.Operator>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    <h3>Monitoring page</h3>

    <div class="col">
        <div class="row">
            
            <button class="btn btn-success" type="submit">@Html.ActionLink("Start emulation", "StartEmulation", "Home", new { @class = "", @id = "" })</button>
            <button class="btn btn-danger" type="submit">Stop emulation</button>
            <button class="btn btn-warning" type="submit">Pause emulation</button>
        </div>
    </div>
    <div class="col-sm-12">
        <form>
            <div class="form-group  mx-sm-3 mb-2 col-md-2">
                <label for="callDuration">Call duration</label>
                <input type="text" class="form-control" id="callLength" placeholder="Call Length(minutes)">
            </div>
        </form>
    </div>
</div>

    <hr />

    <h4>List of the available operators</h4>

    <table border="solid 1px black" width="400">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
        @foreach (var row in Model)
        {
            <tr>
                <td>@row.Id</td>
                <td>@row.Name</td>
                <td>@row.Status</td>
            </tr>
        }
    </table>
        


